html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 15pt;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

#navbar {
	position: absolute;
	left: 170px;
}
nav {
  	position: relative;
  	display: flex;
  	flex-wrap: wrap;
  	height: 150px;
  	width: 100%;
  	z-index: 2;
  	list-style-type: none;
    overflow: hidden;
    text-decoration: none;
  	text-align: center;
    color: black;
}

#navbar {
	position: absolute;
	left: 170px;
	width: 80%;
	text-decoration: none;
	text-align: center;
	padding: 30px 16px;
	color: black;
	list-style-type: none;
}

#navbar > div {
	float: left;
	padding: 14px 16px;
}

a, div:not(.wrapper) {
  	text-decoration: none;
  	color: black;
}

#logo {
	position: absolute;
	height: 50px;
	width: 120px;
	left: 30px;
	top: 30px;
}

#content {
	position: relative;
	margin: 0;
	display: inline-block;
}

.wrapper {
	margin: 0;
	padding: 0;
    -webkit-flex: 1 0 auto; /* Safari 6.1+ */
    -ms-flex: 1 0 auto; /* IE 10 */ 
	flex: 1 0 auto;
  	color: black;
}

.footer {
	position: relative;
	height: 150px;
	background-color: #303030;
	width: 100%;
	font-size: 15pt;
	color: #cccccc;
}

#text {
	padding: 0;
	max-height: 150px;
	width: 50%;
	position: absolute;
	margin-left: 200px;
}

#sitfooter {
	margin-left: 40px;
	margin-top: 20px;
	position: absolute;
	height: 50px;
	width: 100px;
}

p, a {
	color: #958f1b;
}

#vis_hybler{
	width: 100%;
	height: auto;
	display: inline-block;
	position: relative;

}
#google_map{
	position: fixed;
    height:	650px;
    width: 90%;
    margin: 3%;
}
#hybel_content{
	display: inline-block;
	border-style: solid;
	position: relative;
	width: 50%;
	max-width: 50%;
	height: 250px;
	left: 0px;
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
}
#hybel_picture{
	position: relative;
	display: inline-block;
	border-style: solid;
	right: -5%;
	top: 0px;
	width: 250px;
	height: 250px;
	max-width: 250px;
	max-height: 250px;
	margin-left: 2%;
	margin-top: 2%;
}


li a:hover {
=======
div a:hover {
>>>>>>> origin/master
	color: #555555;
}